# Belle-II bPID/iTOP
# SCROD revB
# Schematic Last Modified: 09 JULY 2014
# UCF Updated: 10 JULY 2014

# -------- PL / HR -------- #
net PS_CLOCK loc = "n26"; 
net nPS_POR loc = "n27"; 
net DATA_DISABLE loc = "p26";
net DATA_SFP_PRESENT loc = "ab25"; 
net DATA_RX_LOS loc = "w25"; 
net DATA_TX_FAULT loc = "w23"; 
net TTL_TRIG_IN loc = "ah24"; 
net nTTL_TRIG_OUT loc = "y25"; 
net TRIG_DISABLE loc = "ak12"; 
net TRIG_SFP_PRESENT loc = "ad13"; 
net TRIG_RX_LOS loc = "ad15"; 
net TRIG_TX_FAULT loc = "ac12"; 
net nFMC_PRESENT loc = "aa17"; 
net POWER_FMC loc = "aa25"; 
net nCARRIER0_PRESENT loc = "ag26";
net nCARRIER1_PRESENT loc = "ag27"; 
net nCARRIER2_PRESENT loc = "ae25"; 
net nCARRIER3_PRESENT loc = "af25"; 
net SPARE_PL_AF20_SRCC loc = "af20"; 
net SPARE_PL_AG22 loc = "ag22"; 
net SPARE_PL_AG24 loc = "ag24"; 
net SPARE_PL_AH17 loc = "ah17"; 
net CLOCK_SELECT loc = "aa13"; 
net BROWNOUT_HAS_OCCURRED loc = "ak13"; 

net LA00_CCP loc = "ag21"; 
net LA00_CCN loc = "ah21"; 
net LA31P loc = "t30";
net LA31N loc = "u30"; 
net LA02P loc = "ae13"; 
net LA02N loc = "af13"; 
net LA03P loc = "aj16"; 
net LA03N loc = "ak16"; 
net LA04P loc = "aj14"; 
net LA04N loc = "aj13"; 
net LA05P loc = "ah18"; 
net LA05N loc = "aj18"; 
net LA06P loc = "ae16"; 
net LA06N loc = "ae15"; 
net LA07P loc = "ak17"; 
net LA07N loc = "ak18"; 
net LA08P loc = "aj20"; 
net LA08N loc = "ak20"; 
net LA09P loc = "aj23"; 
net LA09N loc = "aj24";
net LA10P loc = "ac18"; 
net LA10N loc = "ac19"; 
net LA11P loc = "ak22"; 
net LA11N loc = "ak23"; 
net LA12P loc = "aj25"; 
net LA12N loc = "ak25"; 
net LA13P loc = "ad23"; 
net LA13N loc = "ae23"; 
net LA14P loc = "ah26"; 
net LA14N loc = "ah27"; 
net LA15P loc = "ak27"; 
net LA15N loc = "ak28";
net LA16P loc = "aj28"; 
net LA16N loc = "aj29"; 
net LA17_CCP loc = "ae28"; 
net LA17_CCN loc = "af28"; 
net LA18_CCP loc = "ac28"; 
net LA18_CCN loc = "ad28"; 
net LA19P loc = "y26"; 
net LA19N loc = "y27";
net LA20P loc = "aj30"; 
net LA20N loc = "ak30";
net LA21P loc = "af30"; 
net LA21N loc = "ag30"; 
net LA22P loc = "af29"; 
net LA22N loc = "ag29"; 
net LA23P loc = "ah28"; 
net LA23N loc = "ah29"; 
net LA24P loc = "ac26"; 
net LA24N loc = "ad26"; 
net LA25P loc = "ad30";
net LA25N loc = "ae30"; 
net LA26P loc = "ab29"; 
net LA26N loc = "ab30";
net LA27P loc = "y30"; 
net LA27N loc = "aa30"; 
net LA28P loc = "w29"; 
net LA28N loc = "w30"; 
net LA29P loc = "v28"; 
net LA29N loc = "v29"; 
net LA30P loc = "t29"; 
net LA30N loc = "u29"; 
net LA01_CCP loc = "ae22"; 
net LA01_CCN loc = "af22"; 
net LA32P loc = "p30"; 
net LA32N loc = "r30"; 
net LA33P loc = "n29"; 
net LA33N loc = "p29"; 

#--SOC-J/HP----#
net ACKP loc = "l1"; 
net ACKN loc = "k1"; 
net RSVP loc = "e1"; 
net RSVN loc = "d1"; 
net TRGP loc = "j1"; 
net TRGN loc = "h1"; 
net CARRIER0_TO_SCRODP loc = "h4"; 
net CARRIER0_TO_SCRODN loc = "h3"; 
net CARRIER1_TO_SCRODP loc = "g2"; 
net CARRIER1_TO_SCRODN loc = "f2"; 
net CARRIER2_TO_SCRODP loc = "b2"; 
net CARRIER2_TO_SCRODN loc = "b1"; 
net CARRIER3_TO_SCRODP loc = "a5"; 
net CARRIER3_TO_SCRODN loc = "a4"; 
net CLOCK_TO_ASICS_ON_CARRIER0P loc = "k5"; 
net CLOCK_TO_ASICS_ON_CARRIER0N loc = "j5"; 
net CLOCK_TO_ASICS_ON_CARRIER1P loc = "g5"; 
net CLOCK_TO_ASICS_ON_CARRIER1N loc = "g4"; 
net CLOCK_TO_ASICS_ON_CARRIER2P loc = "e3"; 
net CLOCK_TO_ASICS_ON_CARRIER2N loc = "e2";
net CLOCK_TO_ASICS_ON_CARRIER3P loc = "c4"; 
net CLOCK_TO_ASICS_ON_CARRIER3N loc = "c3"; 
net SCROD_TO_CARRIER0P loc = "k3"; 
net SCROD_TO_CARRIER0N loc = "k2"; 
net SCROD_TO_CARRIER1P loc = "h2"; 
net SCROD_TO_CARRIER1N loc = "g1"; 
net SCROD_TO_CARRIER2P loc = "c2"; 
net SCROD_TO_CARRIER2N loc = "c1"; 
net SCROD_TO_CARRIER3P loc = "a3"; 
net SCROD_TO_CARRIER3N loc = "a2"; 
net TRIG_TO_GDL_FROM_CARRIER0P loc = "h6"; 
net TRIG_TO_GDL_FROM_CARRIER0N loc = "g6"; 
net TRIG_TO_GDL_FROM_CARRIER1P loc = "f5"; 
net TRIG_TO_GDL_FROM_CARRIER1N loc = "e5"; 
net TRIG_TO_GDL_FROM_CARRIER2P loc = "b5"; 
net TRIG_TO_GDL_FROM_CARRIER2N loc = "b4"; 
net TRIG_TO_GDL_FROM_CARRIER3P loc = "e6"; 
net TRIG_TO_GDL_FROM_CARRIER3N loc = "d5"; 

#--SOC-K/HP----#
net EXTRA_CLOCKP loc = "d9"; 
net EXTRA_CLOCKN loc = "d8"; 
net FRAGGLE_CLOCKP loc = "h9"; 
net FRAGGLE_CLOCKN loc = "g9"; 
net GTX-CLOCK-FROM-FABRICP loc = "l7";
net GTX-CLOCK-FROM-FABRICN loc = "k7"; 

#--SOC-N----#
net GTX_CLOCK_FROM_FMCP loc = "aa8"; 
net GTX_CLOCK_FROM_FMCN loc = "aa7"; 
net HIGHWAY_FROM_CARRIER_SPARE0P loc = "ah6"; 
net HIGHWAY_FROM_CARRIER_SPARE0N loc = "ah5"; 
net HIGHWAY_FROM_CARRIER_SPARE1P loc = "ag4"; 
net HIGHWAY_FROM_CARRIER_SPARE1N loc = "ag3"; 
net HIGHWAY_FROM_FMCP loc = "af6"; 
net HIGHWAY_FROM_FMCN loc = "af5"; 
net HIGHWAY_TO_CARRIER_SPARE0P loc = "ah2"; 
net HIGHWAY_TO_CARRIER_SPARE0N loc = "ah1"; 
net HIGHWAY_TO_CARRIER_SPARE1P loc = "af2"; 
net HIGHWAY_TO_CARRIER_SPARE1N loc = "af1"; 
net HIGHWAY_TO_FMCP loc = "ae4"; 
net HIGHWAY_TO_FMCN loc = "ae3"; 
#---SOC-O---#
net ZYNQ-GTX-CLOCKP loc = "u8"; 
net ZYNQ-GTX-CLOCKN loc = "u7";
net GTX-CLOCK-FROM-CARRIERP loc = "w8"; 
net GTX-CLOCK-FROM-CARRIERN loc = "w7"; 
net HIGHWAY_FROM_CARRIER0P loc = "ac4"; 
net HIGHWAY_FROM_CARRIER0N loc = "ac3"; 
net HIGHWAY_FROM_CARRIER1P loc = "ab6"; 
net HIGHWAY_FROM_CARRIER1N loc = "ab5"; 
net HIGHWAY_FROM_CARRIER2P loc = "y6"; 
net HIGHWAY_FROM_CARRIER2N loc = "y5"; 
net HIGHWAY_FROM_CARRIER3P loc = "aa4"; 
net HIGHWAY_FROM_CARRIER3N loc = "aa3": 
net HIGHWAY_TO_CARRIER0P loc = "ab2"; 
net HIGHWAY_TO_CARRIER0N loc = "ab1"; 
net HIGHWAY_TO_CARRIER1P loc = "y2"; 
net HIGHWAY_TO_CARRIER1N loc = "y1"; 
net HIGHWAY_TO_CARRIER2P loc = "w4"; 
net HIGHWAY_TO_CARRIER2N loc = "w3"; 
net HIGHWAY_TO_CARRIER3P loc = "v2"; 
net HIGHWAY_TO_CARRIER3N loc = "v1": 
#--SOC-P----#
net TRIG_RXP loc = "t6"; 
net TRIG_RXN loc = "t5"; 
net DATA_RXP loc = "p6"; 
net DATA_RXN loc = "p5"; 
net TRIG_TXP loc = "p2"; 
net TRIG_TXN loc = "p1"; 
net DATA_TXP loc = "n4"; 
net DATA_TXN loc = "n3"; 
# -------- PS -------- #
net nSPI_CS0 loc = "g19"
net nSPI_CS1 loc = "m17"; 
net SPARE_PS_MIO16 loc = "l19"; 
net SPARE_PS_MIO18 loc = "k20"; 
net SPARE_PS_MIO19 loc = "j20"; 
net SPARE_PS_MIO43 loc = "e18"; 
net UART1_TX loc = "m20"; 
net UART1_RX loc = "j19"; 
net I2C_SCL0 loc = "b22"; 
net I2C_SDA0 loc = "c22"; 
net I2C_SCK1 loc = "d19"; 
net I2C_SDA1 loc = "c18"; 
net nUSB_RESET loc = "b24"; 
net PS_TDI loc = "f20"; 
net PS_TDO loc = "a18"; 
net PS_TCK loc = "c19"; 
net PS_TMS loc = "d18"; 
#net PS_CLOCK loc = "a22";  #input
net SPI_MOSI loc = "l20"; 
net SPI_MISO loc = "j21"; 
net SPI_CLOCK loc = "m19"; 
net QSPI0_SCK loc = "d24"; 
net QSPI0_IO0 loc = "f23";  
net QSPI0_IO1 loc = "c23"; 
net QSPI0_IO2 loc = "e23";
net QSPI0_IO3 loc = "c24";
net QSPI0_nCS loc = "d23";
net QSPI1_SCK loc = "a24"; 
net QSPI1_IO0 loc = "e22"; 
net QSPI1_IO1 loc = "a23"; 
net QSPI1_IO2 loc = "e21";
net QSPI1_IO3 loc = "f22"; 
net QSPI1_nCS loc = "f24"; 

# -------- PS / USB -------- #
net DIR loc = "h22"; 
net STP loc = "l18"; 
net NXT loc = "h21"; 
net DATA0 loc = "k17"; 
net DATA1 loc = "g22";
net DATA2 loc = "k18";
net DATA3 loc = "g21";
net DATA4 loc = "l17"; 
net DATA5 loc = "b21"; 
net DATA6 loc = "a20";
net DATA7 loc = "f18";
net CLKOUT loc = "h17";

